/* Borre la regla para *, no deberian aplicarse reglas globalmente, tambien varios !important, una manera
de darse cuenta que el CSS esta bien estructurado es si funciona como debe sin los !important */

body {
  height: 100vh;
  background-color: #141F26;
  display: flex;
  flex-direction: column;
}

header{
  background-color: #141F26;
  display: flex;
  align-items: center;
}

header a .logo{
  width: 60px;
  margin-left: 1em;
  padding: 0.5em 0;
}

header h1 {
  margin-left: auto;
  margin-right: auto;
}

footer {
  width: 100%;
  height: 40px;
  background-color: #141F26;
  margin-top: auto;
  color: rgba(255, 255, 255, 0.804);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  display:flex;
  flex:1;
}

#sidebar {
  display: flex;
  flex-direction: column;
  background-color: #141F26;
  width: 200px;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.texto-footer{
  color: rgba(255, 255, 255, 0.804);
}

.dolar{
  background-color: #141F26;
}

.ej{
  height: 100%;
  background-color: #1D293D;
  position: absolute;
  color: #EEEEEE;
}

#curve_chart {
  width: 80%;
  align-self: center;
  margin-top: 1.5em;
  height: 80%;
}