* {
  margin: 0;
  padding: 0;
}
html, body {
  min-height: 100%;
  position: relative;
  background-color: #141F26 !important;
  height: -webkit-fill-available;
}  
.content {
  padding-bottom: 40px;
}
/*
html {
  min-height: 100%;
  position: relative;
  background-color: #526D82;
}*/
header{
  background-color: #141F26;
}

footer{
  position: absolute;
  bottom: 0 !important;
  width: 100%;
  height: 40px;
  background-color: #141F26 !important;
}

.container-fluid{
  background-color: #141F26;
}

.logo{
  height: 80px;
}

.texto-footer{
  padding-top: 5px;
  color: rgba(255, 255, 255, 0.804);
}

.titulo{
  color: #EEEEEE;
  font-size: 2rem;
}

.carousel{
  position: absolute !important;
  height: 80% !important;
}
.caroudiv{
  max-height: 80% !important;
}
.carousel-dark .carousel-caption {
  color: #EEEEEE;
  height: 50%;
  margin-bottom: 10%;
}
.dolar{
  background-color: #141F26;
}